[user]
    name = Patrick Paulino
    email = {{ (onepasswordItemFields "2mhp2daf5vcvgmscl5vtbp6l5e").personal_email.value }}
    signingkey = {{ (onepasswordDetailsFields "2mhp2daf5vcvgmscl5vtbp6l5e").public_key.value }}

[init]
    defaultBranch = main

[gpg]
    format = ssh

[gpg "ssh"]
    {{- if eq .chezmoi.os "darwin" }}
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
    {{- else if eq .chezmoi.os "linux" }}
    program = "/opt/1Password/op-ssh-sign"
    {{- end }}

[commit]
    gpgsign = true

[includeIf "gitdir:~/Projects/sardine/**"]
    path = ~/Projects/sardine/.gitconfig

[rebase]
    autosquash = true

[fetch]
    prune = true
