Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
  IdentityFile ~/.ssh/{{ (onepasswordItemFields "2mhp2daf5vcvgmscl5vtbp6l5e").file_name.value }}

Host {{ (onepasswordItemFields "i7sdiseuc47purydotahi7ksfm").proxy_website.value }}
  HostName github.com
  IdentityFile ~/.ssh/{{ (onepasswordItemFields "i7sdiseuc47purydotahi7ksfm").file_name.value }}
  IdentitiesOnly yes
