[user]
    name = Patrick Paulino
    email = {{ (onepasswordItemFields "i7sdiseuc47purydotahi7ksfm").email.value }}
    signingkey = {{ (onepasswordDetailsFields "i7sdiseuc47purydotahi7ksfm").public_key.value }}
