[user]
    name = Patrick Paulino
    email = {{ (onepasswordItemFields "2mhp2daf5vcvgmscl5vtbp6l5e").email.value }}
    signingkey = {{ (onepasswordDetailsFields "2mhp2daf5vcvgmscl5vtbp6l5e").public_key.value }}
